* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

a {
    text-decoration: none;
    color: #FFF;
}