.menu {
    display: flex;
    align-items: center;
    &__item {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        &:not(:last-child)::after {
            @include line-after;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        &__item {
            font-size: 18px;
            &:not(:last-child)::after {
                @include line-after1024;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        &__item {
            font-size: 17px;
            &:not(:last-child)::after {
                @include line-after768;
            }
        }
    }
}