.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .page-header {
        padding-top: 28px;
        padding-bottom: 27px;
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        padding-top: 24px;
        padding-bottom: 23px;
    }
}